<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            background-color: #3e3e3e;
            color: white;
        }
    </style>
</head>
<body>
<div class="container">
    <form action="#" th:action="@{/registration}" th:object="${userDTO}" method="post">
        <h2 class="form-signin-heading">Please register to music shop</h2>
        <p>

            <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                   class="validation-message"></label>
            <input type="text" th:field="*{username}" id="username" name="username" class="form-control" placeholder="username"
                   required="required"
                   autofocus="">
        </p>
        <p>
            <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                   class="validation-message"></label>
            <input type="password" th:field="*{password}" id="password" name="password" class="form-control" placeholder="password"
                   required="required">
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
</div>
</body>
</html>